.App {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.App a {
  text-decoration: none;
  color: #65a3ff;
}

.header {
  padding: 1rem 2.5rem;
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin: 0 1rem;
  transition: 0.2s;
  text-decoration: none;
  color: #606060;
}

.nav a:visited {
  text-decoration: none;
  color: #606060;
}

.nav a:hover {
  color: #65a3ff;
}

.logo {
  display: flex;
  justify-content: baseline;
  font-size: large;
}

.nav {
  display: flex;
  justify-content: end;
}

.nav img {
  width: 20px;
  height: 20px;
}

.article-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(265px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article-image {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-image img {
  width: 265px;
  max-width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.article-card {
  background-color: white;
  border-radius: 20px;
  transition: 0.2s;
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /* border: 2px solid #e8e5ff; */
  /* min-height: 28rem; */
}

.article-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-title:hover {
  text-decoration: underline;
}

.article-content {
  padding: 1rem 1rem;
  overflow: hidden;
}

.card-title {
  margin: 1rem 0;
  color: #2a2a2a;
  font-weight: 500;
  text-decoration: none;
}

.card-date {
  /* text-decoration: underline; */
  /* font-family: 'Space Mono', monospace; */
  font-weight: 400;
}

.card-social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}

/* .card-share:hover {
  text-decoration: underline;
} */

.card-icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin: 0 4px;
}

.card-icon:hover {
  opacity: 70%;
}

.article-content img {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .App {
    max-width: 908px;
  }
  /* .article-card {
    display: grid;
    grid-template-rows: 220px 1fr;
  } */
}

@media screen and (min-width: 1280px) {
  .App {
    max-width: 1156px;
  }
}
